{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main style="margin-top: calc(2rem + 75px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <div class="card foodplan__card_borderless">
                            <img src="{% static 'img/circle1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                        <div class="row">
                            <h2>Вами выбраны следующие опции:</h2>
                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
                                <h6>Тип меню: {{ foodtype }}<br>
                                    Срок: {{ term }}<br>
                                    Завтраки {{ breakfast }}<br>
                                    Обеды {{ lunches }}<br>
                                    Ужины {{ dinners }}<br>
                                    Десерты {{ desserts }}<br>
                                    Кол-во персон: {{ persons_number }}<br>
                                    Аллергии:<br>
                                    - Рыба и морепродукты {{ allergy1 }}<br>
                                    - Мясо {{ allergy2 }}<br>
                                    - Зерновые {{ allergy3 }}<br>
                                    - Продукты пчеловодства {{ allergy4 }}<br>
                                    - Орехи и бобовые {{ allergy5 }}<br>
                                    - Молочные продукты {{ allergy6 }}<br>
                                    ***<br>
                                    Промокод: {{ promocode }}</h6>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center my-5">
                            <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50" onclick="window.location.href='{% url 'pay' %}'">Оплатить</button>
                            <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50" onclick="history.back();">Назад</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}